// Specific CSS for your home-page
.hero {
  background-image: linear-gradient(to top, #F4E3EA 0%, #FAEAEE 509%, #F4ECF1 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height:auto;
  z-index:-999;
  height: 110vh;
}

section {
  height: 100vh;
  position:relative;
  scroll-snap-align:start;

  // &:nth-of-type(1){
  //   background-image:url(section1_bg.png);
  //   background-repeat: no-repeat;
  //   background-size: cover;
  // }

  &:nth-of-type(1){
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  }

  &:nth-of-type(2){
    background-image: linear-gradient(to right, #f3e3ea 0%, #fbfcdb 100%);
  }

  &:nth-of-type(3) {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  }

}

// section:nth-child(1){
//  background-image:url(section1_bg.png);
//  background-repeat: no-repeat;
//  background-size: cover;
// }

// section:nth-child(2) {
//   background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
// }

// section:nth-child(3){
//   background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
// }

// section:nth-child(4) {
//   background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
// }

.text {
  position:absolute;
  left:20%;
  top:50%;
  opacity: 0;
  transform: translateY(24px);
  transition:0.5s all ease-in-out;
  z-index:998;
}

nav {
  .nav-link {
    display:flex;
    justify-content:center;
    height:3em;
    background-color:transparent;
    z-index:998;
  }

  li{
    margin-left:20px;
    margin:auto  20px;
    z-index:998;
  }

  // a{
  //   color:#56495a;
  //   transition: all 0.5s ease-in-out;
  //   transform-origin:100% 100%;
  //   z-index:998;
  // }

  a{
    background: radial-gradient(circle at var(--x,-40px) var(--y,-40px), #7261C4 32px, #56495a 32px);
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
    -webkit-text-fill-color: transparent;
    z-index:998;

  }
}

.about, .small-text {
  font-family:'Ubuntu', sans-serif;
  font-size:2em;
  color: #4e3c4e;
  margin-right:1em;
  z-index:3;


}

.small-text{
  font-size:0.8em;
  background: radial-gradient(circle at var(--x,-40px) var(--y,-40px), #9A7DD5 16px, #4e3c4e 16px);
  background-clip: text;
  -webkit-background-clip: text;
  color:transparent;
  -webkit-text-fill-color: transparent;
  }

.intro {
  display:flex;
  flex-direction:row;
  align-items: center;
  padding: 0 5em;
  justify-content: space-between;
  max-width: 90%;
  margin: auto;
}


.link-grow {
  transform: scale(1.8);
  background:lavender;
  position: absolute;
  border-radius: 50%;
  z-index:0;
}

.button-grow{
  transform: scale(2);
  background:rgba(137,117,212,0.2);
  position: absolute;
  border-radius: 50%;
  border: 1px solid white;

}

.hovered-button {
  z-index:999;
}

.hovered-link {
  color:white !important;
  font-size:22px;
  transform: translate(-50%,-50%);
  z-index: 999;
}


.button-link {
  z-index:1000;
}

.translate {
  transform:translate3d(-2.7rem, 0, 1rem);
}


.intro-appear{
  opacity:1;
  transform: translateY(0px);
}
// .content {
//   overflow-y: scroll;
//   height: 100%;
//   scroll-snap-type: y mandatory;
// }


.wrapper{
  width: 400vw;
  height: 100vh;
  overflow: hidden;
  perspective: 1000;
  -webkit-perspective: 1000;
}

$panelcount:4;
.slide {
  & {
    height: 100%;
    width: calc( 100% / #{$panelcount} );
    float: left;
    }
  }


  .slides {
    width: 100%; /* to contain 4 panels, each with 100% of window width */
    height: 100%;
  }


#work {
  position:relative;
}

#canvas{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background:#F3E3EA;

}

.plane {
  /* define the size of your plane */
  width: 14.9%;
  max-width: 800px;
  height: 30.6%;
  position: absolute;
  top: 70vh;
  left:50%;
  margin: 0 auto;
  z-index:1000;
 }




.plane img {
  display:none;
 }


.grain {
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  height: 90vh;
  z-index:1;
  animation: rotate 15s linear infinite;
  opacity:0.4;
 }


@keyframes rotate {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}



.circle{
  position:relative;
  top:0;
  left:10vh;
  transform:translate(50%,50%);
  background:#F9E67E;
  background-color:#F9E67E;
  border-radius:50%;
  height:98px;
  width:112px;
  -webkit-animation: rotateOnY 4s infinite linear;
  animation: rotateOnY 4s infinite linear;
}

.circle::before {
  content:'';
  position:absolute;
  bottom:-8px;
  right:-8px;
  background-color:#F8E9C7;
  height:124px;
  width:140px;
  border-radius:50%;
  opacity:0.6;
}

.circle::after {
  content:'';
  position:absolute;
  top:68px;
  left:-12px;
  background-color:#E5D2E7;
  height:16px;
  width:16px;
  border-radius:50%;
  opacity:0.9;
}

.circle-container {
  width: 250px;
  height: 250px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-perspective: 200px;
          perspective: 200px;
}




@keyframes rotateOnY {
  0%   { transform: rotateZ(0deg); }
  100% { transform: rotateZ(360deg); }
  }



.PopUp {
  h1 {
    color:#cdb0d2;
  }
  p{
    color:white;
  }

}


.project-title {
  font-family:'Ubuntu', sans-serif;
  position: absolute;
    top: 30%;
    left: 30%;
}

.Project-headline {
  position: absolute;
    top: 50%;
    left: 30%;
}
