<div class="preload">
<%= image_tag "teapot.png", :class => "teapot" %>
</div>

<div class="content">
  <section>
    <div class="text">
      <h3>Title1</h3>
      <ul>
      <li class = 'button1'><a href="">about me</a></li>
      <li class = 'button2'><a href="">works</a></li>
      <li class = 'button3'><a href="">contact</a></li>
      </ul>
    </div>
  </section>
  <section id="about_me">
    <div class="text">
      <h3>Title2</h3>
      <p>Subtitle for section 2</p>
    </div>
  </section>
  <section id="works">
    <div class="text">
      <h3>Title3</h3>
      <p>Subtitle for section 3</p>
    </div>
  </section >
  <section id="contact">
    <div class="text">
      <h3>Title4</h3>
      <p>Subtitle for section 4</p>
    </div>
  </section>
 </div>
