<div class= 'cursor'></div>
<div class="preload">
<%= image_tag "teapot.png", :class => "teapot" %>
</div>

<div class="content">
  <div class="hero">
  <nav>
  <ul class = 'nav-link'>
      <li class = 'button1'><%= link_to 'about', about_path %></li>
      <li class = 'button2'><%= link_to 'works', works_path %></li>
      <li class = 'button2'><%= link_to 'services', services_path %></li>
      <li class = 'button3'><a href="">contact</a></li>
  </ul>
  </nav>
  <div class="intro">
<div class="about"> Hi! I'm Linlu<br><span class ='small-text'>A UX/UI designer with a mission to help you solve problmes and next-level your product, service, and digital experience through human-centered design.</span></div>
<div class="girl_img">
<svg width="1130" height="800" viewBox="0 0 1130 800" fill="none" xmlns="http://www.w3.org/2000/svg">
<g id="girl" clip-path="url(#clip0)">
<g id="background">
<path id="Vector" opacity="0.1" d="M1108.14 197.65C1096.59 175.213 1081.45 154.817 1063.31 137.27L441.45 132.09L953.45 71.3C919.949 60.0907 884.895 54.2124 849.57 53.88C800.28 20.23 736.93 0 667.83 0C605.83 0 548.5 16.29 501.76 43.93C462 26.6 416.74 16.81 368.65 16.81C230.48 16.81 115.35 97.71 89.52 205L1108.14 197.65Z" fill="#6C63FF"/>
<path id="Vector_2" opacity="0.1" d="M1130 287.6C1129.96 258.202 1123.34 229.186 1110.62 202.68L32.86 298.35C21.9224 315.028 13.42 333.181 7.61 352.26L341.36 394.32L0 424.99C10.27 546.44 133.43 642.35 283.88 642.35C359.61 642.35 428.42 618.04 479.41 578.41C530.56 618.79 600 643.6 676.58 643.6C790.15 643.6 888.18 588.93 933.83 509.88C1025.41 485.31 1096.55 423.6 1120.9 346.42L698.83 291.1H1130C1130 289.95 1130 288.79 1130 287.6Z" fill="#6C63FF"/>
</g>
<g id="leaves_up_anim">
<path id="Vector_3" d="M213.22 276.47C216.22 285.52 208.51 317.21 208.51 317.21C208.51 317.21 183.42 296.38 180.42 287.32C178.981 282.97 179.329 278.228 181.387 274.135C183.446 270.042 187.045 266.934 191.395 265.495C195.745 264.056 200.488 264.404 204.58 266.462C208.673 268.521 211.781 272.12 213.22 276.47Z" fill="#9A7DD5" fill-opacity="0.9"/>
<path id="Vector_4" d="M106.89 325.97C113.3 333.03 119.09 365.12 119.09 365.12C119.09 365.12 87.72 356.24 81.31 349.18C78.2322 345.788 76.6279 341.312 76.8501 336.737C77.0724 332.162 79.1029 327.863 82.495 324.785C85.8871 321.707 90.363 320.103 94.9379 320.325C99.5129 320.547 103.812 322.578 106.89 325.97Z" fill="#937FE8" fill-opacity="0.76"/>
</g>
<g id="leaves">
<path id="Vector_5" d="M283.42 553.07C283.42 553.07 237.2 486.38 245.05 423.44C248.506 397.062 243.313 370.275 230.25 347.1C223.964 336.144 216.687 325.787 208.51 316.16" stroke="#7B78A1" stroke-width="2" stroke-miterlimit="10"/>
<path id="Vector_6" d="M256.92 317.66C254.52 326.89 230.83 349.3 230.83 349.3C230.83 349.3 221.09 318.18 223.5 308.95C224.045 306.727 225.027 304.634 226.388 302.794C227.749 300.953 229.462 299.402 231.428 298.23C233.394 297.057 235.574 296.287 237.84 295.965C240.106 295.642 242.414 295.774 244.629 296.351C246.844 296.928 248.922 297.94 250.742 299.328C252.563 300.715 254.089 302.451 255.233 304.434C256.377 306.416 257.115 308.607 257.404 310.877C257.694 313.148 257.529 315.454 256.92 317.66Z" fill="#8672E7"/>
<path id="Vector_7" d="M290 473.6C284.5 481.39 254.44 494.04 254.44 494.04C254.44 494.04 256.27 461.48 261.77 453.69C264.41 449.946 268.429 447.405 272.943 446.625C277.457 445.845 282.096 446.89 285.84 449.53C289.584 452.17 292.125 456.189 292.905 460.703C293.685 465.217 292.64 469.856 290 473.6Z" fill="#6C63FF"/>
<path id="Vector_8" d="M204.91 443.98C214.35 445.38 244.25 432.36 244.25 432.36C244.25 432.36 219.42 411.21 210 409.81C207.756 409.476 205.469 409.588 203.268 410.139C201.068 410.689 198.997 411.667 197.175 413.018C193.495 415.746 191.049 419.824 190.375 424.355C189.701 428.886 190.855 433.499 193.583 437.18C196.311 440.86 200.389 443.306 204.92 443.98H204.91Z" fill="#8672E7"/>
<path id="Vector_9" d="M284.11 403.77C277.37 410.53 245.61 417.91 245.61 417.91C245.61 417.91 252.92 386.13 259.61 379.38C262.844 376.136 267.235 374.31 271.815 374.304C276.396 374.297 280.791 376.111 284.035 379.345C287.279 382.579 289.105 386.97 289.111 391.55C289.118 396.131 287.304 400.526 284.07 403.77H284.11Z" fill="#6C63FF"/>
<path id="Vector_10" d="M197 362.45C205.58 366.61 238 363.13 238 363.13C238 363.13 220.64 335.53 212 331.36C207.903 329.555 203.265 329.412 199.064 330.96C194.864 332.508 191.428 335.628 189.483 339.66C187.538 343.692 187.234 348.322 188.636 352.574C190.039 356.825 193.037 360.366 197 362.45Z" fill="#8672E7"/>
<path id="Vector_11" opacity="0.25" d="M284.11 403.77C277.37 410.53 245.61 417.91 245.61 417.91C245.61 417.91 252.92 386.13 259.61 379.38C262.844 376.136 267.235 374.31 271.815 374.304C276.396 374.297 280.791 376.111 284.035 379.345C287.279 382.579 289.105 386.97 289.111 391.55C289.118 396.131 287.304 400.526 284.07 403.77H284.11Z" fill="black"/>
<path id="Vector_12" opacity="0.25" d="M290 473.6C284.5 481.39 254.44 494.04 254.44 494.04C254.44 494.04 256.27 461.48 261.77 453.69C264.41 449.946 268.429 447.405 272.943 446.625C277.457 445.845 282.096 446.89 285.84 449.53C289.584 452.17 292.125 456.189 292.905 460.703C293.685 465.217 292.64 469.856 290 473.6Z" fill="black"/>
<path id="Vector_13" opacity="0.25" d="M204.723 443.358C214.163 444.758 244.063 431.738 244.063 431.738C244.063 431.738 219.233 410.588 209.813 409.188C207.569 408.854 205.282 408.966 203.081 409.516C200.881 410.067 198.81 411.045 196.988 412.396C193.308 415.124 190.861 419.202 190.188 423.733C189.514 428.264 190.668 432.877 193.396 436.558C196.124 440.238 200.202 442.684 204.733 443.358H204.723Z" fill="black" fill-opacity="0.6"/>
<path id="Vector_14" d="M283.16 550.39C283.16 550.39 213.88 508.15 195.54 447.39C188.008 421.879 172.408 399.496 151.08 383.6C140.894 376.133 130.045 369.616 118.67 364.13" stroke="#7B78A2" stroke-width="2" stroke-miterlimit="10"/>
<path id="Vector_15" d="M163.54 345.91C165.08 355.33 152.54 385.42 152.54 385.42C152.54 385.42 131 360.91 129.45 351.49C128.71 346.969 129.796 342.34 132.47 338.62C135.143 334.9 139.184 332.395 143.705 331.655C148.226 330.915 152.855 332.001 156.575 334.675C160.295 337.348 162.8 341.389 163.54 345.91Z" fill="#8672E7" fill-opacity="0.87"/>
<path id="Vector_16" d="M223.29 413.6C219.86 422.51 193.82 442.13 193.82 442.13C193.82 442.13 187.62 410.13 191.04 401.21C192.683 396.933 195.958 393.485 200.143 391.622C204.329 389.76 209.083 389.637 213.36 391.28C217.637 392.923 221.085 396.198 222.948 400.383C224.81 404.569 224.933 409.323 223.29 413.6Z" fill="#8672E7" fill-opacity="0.97"/>
<path id="Vector_17" d="M257 475.03C255.13 484.39 232.77 508.13 232.77 508.13C232.77 508.13 221.25 477.62 223.12 468.27C223.564 466.045 224.442 463.93 225.703 462.045C226.964 460.159 228.585 458.541 230.472 457.282C232.359 456.022 234.475 455.147 236.7 454.706C238.925 454.265 241.215 454.266 243.44 454.71C245.665 455.154 247.78 456.032 249.665 457.293C251.551 458.554 253.169 460.175 254.428 462.062C255.688 463.949 256.563 466.065 257.004 468.29C257.445 470.515 257.444 472.805 257 475.03Z" fill="#7261C4"/>
<path id="Vector_18" d="M126.88 411.15C136.42 411.48 164.65 395.15 164.65 395.15C164.65 395.15 137.6 376.95 128.06 376.6C125.793 376.523 123.534 376.892 121.41 377.688C119.286 378.484 117.34 379.69 115.683 381.238C114.025 382.786 112.689 384.645 111.75 386.71C110.811 388.774 110.287 391.003 110.21 393.27C110.133 395.537 110.502 397.796 111.298 399.92C112.094 402.044 113.3 403.99 114.848 405.647C116.396 407.305 118.255 408.641 120.32 409.58C122.384 410.519 124.613 411.043 126.88 411.12V411.15Z" fill="#8672E7"/>
<path id="Vector_19" d="M167.17 482.47C176.37 479.93 198.43 455.91 198.43 455.91C198.43 455.91 167.16 446.6 158 449.18C155.792 449.764 153.721 450.78 151.909 452.17C150.096 453.559 148.577 455.294 147.439 457.275C146.302 459.256 145.568 461.442 145.281 463.708C144.995 465.974 145.16 468.275 145.769 470.476C146.377 472.678 147.416 474.737 148.826 476.534C150.236 478.331 151.988 479.831 153.981 480.947C155.974 482.062 158.169 482.771 160.438 483.033C162.707 483.294 165.005 483.103 167.2 482.47H167.17Z" fill="#7261C4"/>
<path id="Vector_20" d="M223.49 522.16C232.56 525.16 264.23 517.36 264.23 517.36C264.23 517.36 243.33 492.36 234.23 489.36C232.075 488.652 229.802 488.376 227.54 488.546C225.278 488.717 223.072 489.332 221.048 490.355C219.023 491.378 217.22 492.79 215.742 494.51C214.263 496.231 213.138 498.225 212.43 500.38C211.722 502.535 211.446 504.808 211.616 507.07C211.787 509.332 212.402 511.538 213.425 513.562C214.448 515.587 215.86 517.39 217.58 518.868C219.301 520.347 221.295 521.472 223.45 522.18L223.49 522.16Z" fill="#6C63FF"/>
<path id="Vector_21" opacity="0.25" d="M223.49 522.16C232.56 525.16 264.23 517.36 264.23 517.36C264.23 517.36 243.33 492.36 234.23 489.36C232.075 488.652 229.802 488.376 227.54 488.546C225.278 488.717 223.072 489.332 221.048 490.355C219.023 491.378 217.22 492.79 215.742 494.51C214.263 496.231 213.138 498.225 212.43 500.38C211.722 502.535 211.446 504.808 211.616 507.07C211.787 509.332 212.402 511.538 213.425 513.562C214.448 515.587 215.86 517.39 217.58 518.868C219.301 520.347 221.295 521.472 223.45 522.18L223.49 522.16Z" fill="#575757"/>
<g id="Vector_22">
<path d="M215.84 546.42C225.34 545.42 251.14 525.52 251.14 525.52C251.14 525.52 221.89 511.1 212.4 512.05C210.143 512.276 207.953 512.944 205.955 514.016C203.956 515.089 202.188 516.544 200.752 518.3C197.852 521.845 196.479 526.397 196.935 530.955C197.161 533.212 197.829 535.402 198.901 537.4C199.974 539.399 201.429 541.167 203.185 542.603C206.73 545.503 211.282 546.876 215.84 546.42Z" fill="#A285D7"/>
<path d="M215.84 546.42C225.34 545.42 251.14 525.52 251.14 525.52C251.14 525.52 221.89 511.1 212.4 512.05C210.143 512.276 207.953 512.944 205.955 514.016C203.956 515.089 202.188 516.544 200.752 518.3C197.852 521.845 196.479 526.397 196.935 530.955C197.161 533.212 197.829 535.402 198.901 537.4C199.974 539.399 201.429 541.167 203.185 542.603C206.73 545.503 211.282 546.876 215.84 546.42Z" fill="url(#paint0_linear)" fill-opacity="0.9"/>
</g>
</g>
<g id="mac">
<path id="Vector_23" d="M651.62 713.32V706.91C640.557 702.124 631.118 694.235 624.444 684.198C617.771 674.16 616.699 644.053 616.567 632L500.122 632C499.663 644.326 498.066 676.212 490.833 686.203C483.6 696.194 473.566 703.815 462 708.1V713.32H651.62Z" fill="#F4F3F3" fill-opacity="0.64"/>
<path id="Vector_24" d="M241 563V599C241 618.88 255.55 635 273.5 635H831.5C849.45 635 864 618.88 864 599V563H241Z" fill="#F9F9F9" fill-opacity="0.89"/>
<path id="Vector_25" opacity="0.1" d="M648 715.41V721.82H458.38V716.6C463.578 714.67 468.495 712.053 473 708.82H636.4C640.02 711.424 643.909 713.634 648 715.41Z" fill="#8672E7"/>
<path id="Vector_26" d="M701.21 710.82H405.21C399.963 710.82 395.71 715.073 395.71 720.32C395.71 725.567 399.963 729.82 405.21 729.82H701.21C706.457 729.82 710.71 725.567 710.71 720.32C710.71 715.073 706.457 710.82 701.21 710.82Z" fill="#F1F2F5" fill-opacity="0.89"/>
<path id="Vector_27" d="M864.21 174.32C864.21 165.7 860.786 157.434 854.691 151.339C848.596 145.244 840.329 141.82 831.71 141.82H273.71C265.09 141.82 256.824 145.244 250.729 151.339C244.634 157.434 241.21 165.7 241.21 174.32V575.82H864.21V174.32Z" fill="#FEFEFE" fill-opacity="0.8"/>
<path id="Vector_28" d="M831 174H274C265.163 174 258 181.163 258 190V535C258 543.837 265.163 551 274 551H831C839.837 551 847 543.837 847 535V190C847 181.163 839.837 174 831 174Z" fill="#EDEDF4" fill-opacity="0.7"/>
<path id="Vector_29" d="M552.71 164.82C556.852 164.82 560.21 161.462 560.21 157.32C560.21 153.178 556.852 149.82 552.71 149.82C548.568 149.82 545.21 153.178 545.21 157.32C545.21 161.462 548.568 164.82 552.71 164.82Z" fill="white"/>
<path id="Vector_30" d="M552.71 624.82C562.927 624.82 571.21 616.537 571.21 606.32C571.21 596.103 562.927 587.82 552.71 587.82C542.493 587.82 534.21 596.103 534.21 606.32C534.21 616.537 542.493 624.82 552.71 624.82Z" fill="white" fill-opacity="0.74"/>
<g id="Vector_31">
<path d="M847.21 188.82H258.21C258.21 184.577 259.896 180.507 262.896 177.506C265.897 174.506 269.967 172.82 274.21 172.82H831.21C835.453 172.82 839.523 174.506 842.524 177.506C845.524 180.507 847.21 184.577 847.21 188.82Z" fill="#F7F7F7" fill-opacity="0.61"/>
<path d="M847.21 188.82H258.21C258.21 184.577 259.896 180.507 262.896 177.506C265.897 174.506 269.967 172.82 274.21 172.82H831.21C835.453 172.82 839.523 174.506 842.524 177.506C845.524 180.507 847.21 184.577 847.21 188.82Z" fill="url(#paint1_linear)"/>
</g>
<path id="Vector_32" d="M274.21 184.82C276.419 184.82 278.21 183.029 278.21 180.82C278.21 178.611 276.419 176.82 274.21 176.82C272.001 176.82 270.21 178.611 270.21 180.82C270.21 183.029 272.001 184.82 274.21 184.82Z" fill="#EBAF9A"/>
<path id="Vector_33" d="M286.21 184.82C288.419 184.82 290.21 183.029 290.21 180.82C290.21 178.611 288.419 176.82 286.21 176.82C284.001 176.82 282.21 178.611 282.21 180.82C282.21 183.029 284.001 184.82 286.21 184.82Z" fill="#FED566"/>
<path id="Vector_34" d="M298.21 184.82C300.419 184.82 302.21 183.029 302.21 180.82C302.21 178.611 300.419 176.82 298.21 176.82C296.001 176.82 294.21 178.611 294.21 180.82C294.21 183.029 296.001 184.82 298.21 184.82Z" fill="#B0D7D3"/>
<path id="Vector_35" opacity="0.2" d="M560.21 485.32H280.21V494.32H560.21V485.32Z" fill="#6C63FF"/>
<path id="Vector_36" opacity="0.2" d="M560.21 498.33H280.21V507.33H560.21V498.33Z" fill="#6C63FF"/>
<path id="Vector_37" opacity="0.2" d="M560.21 511.33H280.21V520.33H560.21V511.33Z" fill="#6C63FF"/>
<path id="Vector_38" opacity="0.2" d="M558.21 226.32H280.21V377.32H558.21V226.32Z" fill="#6C63FF"/>
<path id="Vector_39" opacity="0.2" d="M348.21 391.32H283.21V451.32H348.21V391.32Z" fill="#6C63FF"/>
<path id="Vector_40" opacity="0.2" d="M558.21 391.32H493.21V451.32H558.21V391.32Z" fill="#6C63FF"/>
<path id="Vector_41" opacity="0.2" d="M451.71 391.32H386.71V451.32H451.71V391.32Z" fill="#6C63FF"/>
<g id="window">
<path id="Vector_42" opacity="0.2" d="M808.88 270.24H617.55V411.07H808.88V270.24Z" fill="#6C63FF"/>
<path id="Vector_43" d="M788.71 298.82H637.71V307.82H788.71V298.82Z" fill="#EDEDF4"/>
<path id="Vector_44" d="M788.71 317.49H637.71V326.49H788.71V317.49Z" fill="#EDEDF4"/>
<path id="Vector_45" d="M788.71 336.16H637.71V345.16H788.71V336.16Z" fill="#EDEDF4"/>
<path id="Vector_46" d="M788.71 354.82H637.71V363.82H788.71V354.82Z" fill="#EDEDF4"/>
<path id="Vector_47" d="M788.71 373.49H637.71V382.49H788.71V373.49Z" fill="#EDEDF4"/>
</g>
<path id="Vector_48" opacity="0.34" d="M785.55 427.07H640.88V452.4H785.55V427.07Z" fill="#EBAF9A"/>
<path id="Vector_49" d="M730.16 511.47H633.15V528.46H730.16V511.47Z" fill="#FFCF4C"/>
<rect id="Rectangle 1" x="500" y="635" width="116" height="1" fill="#E9E2F0"/>
</g>
<g id="progress bar">
<path id="Vector_50" d="M431.21 202.32H280.21V211.32H431.21V202.32Z" fill="#FFCF4D"/>
<path id="Vector_51" d="M431.21 465.32H280.21V474.32H431.21V465.32Z" fill="#F7C6B5"/>
</g>
<g id="shadow">
<path id="Vector_52" opacity="0.1" d="M565.71 744.7C664.569 744.7 744.71 739.945 744.71 734.08C744.71 728.215 664.569 723.46 565.71 723.46C466.851 723.46 386.71 728.215 386.71 734.08C386.71 739.945 466.851 744.7 565.71 744.7Z" fill="#6C63FF"/>
<path id="Vector_53" opacity="0.1" d="M258.43 778.27C274.225 778.27 287.03 776.972 287.03 775.37C287.03 773.768 274.225 772.47 258.43 772.47C242.635 772.47 229.83 773.768 229.83 775.37C229.83 776.972 242.635 778.27 258.43 778.27Z" fill="#6C63FF"/>
<path id="Vector_54" opacity="0.1" d="M843.87 735.64C853.336 735.64 861.01 734.861 861.01 733.9C861.01 732.939 853.336 732.16 843.87 732.16C834.404 732.16 826.73 732.939 826.73 733.9C826.73 734.861 834.404 735.64 843.87 735.64Z" fill="#6C63FF"/>
<path id="Vector_55" opacity="0.1" d="M169.3 733.41C181.406 733.41 191.22 732.416 191.22 731.19C191.22 729.964 181.406 728.97 169.3 728.97C157.194 728.97 147.38 729.964 147.38 731.19C147.38 732.416 157.194 733.41 169.3 733.41Z" fill="#6C63FF"/>
</g>
<g id="leaves_low_anim">
<g id="Vector_56">
<path d="M268.42 727.6C268.42 727.6 231.12 746.87 250.42 769.6C250.42 769.6 252.23 774.6 257.48 774.18C257.48 774.18 256.43 772.27 260.48 770.75C261.892 770.194 263.234 769.476 264.48 768.61C266.175 767.438 267.442 765.746 268.09 763.79C268.09 763.79 275.72 753.58 269.81 734.69C269.81 734.69 270.57 729.35 269.9 728.49L265.32 734.6C265.32 734.6 270.01 737.74 270.54 742.36C270.54 742.36 265.66 734.61 264.6 735.49C264.39 735.67 262.35 738.89 262.35 738.89C262.35 738.89 270.47 744.4 271.08 751.55C271.08 751.55 266.5 741.55 261.56 740.1L258.77 745.15C258.77 745.15 267.65 750.55 268.65 758.67C268.65 758.67 263.5 748.37 258.24 746.29L256.16 751.62C256.16 751.62 264.71 757.06 265.5 763.82C265.5 763.82 258.35 752.52 255.77 752.82C255.77 752.82 254.16 757.82 254.37 759.37C254.37 759.37 260.42 763.37 260.53 767.37C260.53 767.37 254.95 760.32 254.09 760.79C254.09 760.79 253.73 767.87 255.45 771.56C255.45 771.56 252.51 766.3 252.98 760.79C251.242 762.333 249.997 764.354 249.4 766.6C249.4 766.6 247.79 762.7 253.09 759.12C253.09 759.12 253.59 753.61 254.2 752.93C254.2 752.93 248.47 755.72 246.04 759.16C246.04 759.16 246.93 754.04 254.7 751.5L256.7 746.1C256.7 746.1 248.94 749.39 246.55 752.29C246.55 752.29 248.27 747.21 257.31 744.78L259.99 739.78C259.99 739.78 253.09 742.1 249.73 744.78C249.73 744.78 252.34 740.42 260.82 738.41L263 735.3C263 735.3 258 737.09 256.6 737.73C255.2 738.37 254.92 738.05 254.92 738.05C257.484 735.884 260.6 734.475 263.92 733.98C263.92 733.98 268.77 727.89 268.42 727.6Z" fill="#6C63FF"/>
<path d="M268.42 727.6C268.42 727.6 231.12 746.87 250.42 769.6C250.42 769.6 252.23 774.6 257.48 774.18C257.48 774.18 256.43 772.27 260.48 770.75C261.892 770.194 263.234 769.476 264.48 768.61C266.175 767.438 267.442 765.746 268.09 763.79C268.09 763.79 275.72 753.58 269.81 734.69C269.81 734.69 270.57 729.35 269.9 728.49L265.32 734.6C265.32 734.6 270.01 737.74 270.54 742.36C270.54 742.36 265.66 734.61 264.6 735.49C264.39 735.67 262.35 738.89 262.35 738.89C262.35 738.89 270.47 744.4 271.08 751.55C271.08 751.55 266.5 741.55 261.56 740.1L258.77 745.15C258.77 745.15 267.65 750.55 268.65 758.67C268.65 758.67 263.5 748.37 258.24 746.29L256.16 751.62C256.16 751.62 264.71 757.06 265.5 763.82C265.5 763.82 258.35 752.52 255.77 752.82C255.77 752.82 254.16 757.82 254.37 759.37C254.37 759.37 260.42 763.37 260.53 767.37C260.53 767.37 254.95 760.32 254.09 760.79C254.09 760.79 253.73 767.87 255.45 771.56C255.45 771.56 252.51 766.3 252.98 760.79C251.242 762.333 249.997 764.354 249.4 766.6C249.4 766.6 247.79 762.7 253.09 759.12C253.09 759.12 253.59 753.61 254.2 752.93C254.2 752.93 248.47 755.72 246.04 759.16C246.04 759.16 246.93 754.04 254.7 751.5L256.7 746.1C256.7 746.1 248.94 749.39 246.55 752.29C246.55 752.29 248.27 747.21 257.31 744.78L259.99 739.78C259.99 739.78 253.09 742.1 249.73 744.78C249.73 744.78 252.34 740.42 260.82 738.41L263 735.3C263 735.3 258 737.09 256.6 737.73C255.2 738.37 254.92 738.05 254.92 738.05C257.484 735.884 260.6 734.475 263.92 733.98C263.92 733.98 268.77 727.89 268.42 727.6Z" fill="url(#paint2_linear)"/>
</g>
<g id="Vector_57">
<path d="M177 694.6C177 694.6 148.42 709.36 163.18 726.76C163.596 727.841 164.344 728.763 165.315 729.393C166.287 730.024 167.433 730.33 168.59 730.27C168.59 730.27 167.79 728.81 170.86 727.64C171.945 727.211 172.978 726.661 173.94 726C175.239 725.099 176.211 723.8 176.71 722.3C176.71 722.3 182.55 714.48 178.02 700.01C178.02 700.01 178.61 695.91 178.09 695.25L174.62 700.02C174.62 700.02 178.21 702.43 178.62 705.96C178.62 705.96 174.88 700.03 174.07 700.7C173.91 700.84 172.35 703.31 172.35 703.31C172.35 703.31 178.57 707.53 179.04 713.01C179.04 713.01 175.53 705.33 171.74 704.24L169.61 708.1C169.61 708.1 176.4 712.24 177.17 718.46C177.17 718.46 173.22 710.57 169.17 708.98L167.58 713.06C167.58 713.06 174.14 717.23 174.74 722.41C174.74 722.41 169.26 713.75 167.28 714.02C167.28 714.02 166.05 717.86 166.21 719.02C166.21 719.02 170.85 722.12 170.93 725.16C170.93 725.16 166.65 719.76 165.99 720.16C165.99 720.16 165.72 725.58 167.04 728.41C165.7 725.872 165.045 723.028 165.14 720.16C163.819 721.333 162.867 722.866 162.4 724.57C162.4 724.57 161.17 721.57 165.23 718.84C165.23 718.84 165.61 714.62 166.08 714.1C166.08 714.1 161.69 716.24 159.83 718.87C159.83 718.87 160.51 714.95 166.46 713L167.97 708.86C167.97 708.86 162.02 711.38 160.18 713.61C160.18 713.61 161.5 709.71 168.43 707.85L170.49 704.04C170.49 704.04 165.2 705.82 162.62 707.85C162.62 707.85 164.62 704.5 171.12 702.97L172.79 700.58C172.79 700.58 168.96 701.95 167.89 702.45C166.82 702.95 166.6 702.69 166.6 702.69C168.561 701.034 170.942 699.954 173.48 699.57C173.48 699.57 177.22 694.8 177 694.6Z" fill="#8672E7"/>
<path d="M177 694.6C177 694.6 148.42 709.36 163.18 726.76C163.596 727.841 164.344 728.763 165.315 729.393C166.287 730.024 167.433 730.33 168.59 730.27C168.59 730.27 167.79 728.81 170.86 727.64C171.945 727.211 172.978 726.661 173.94 726C175.239 725.099 176.211 723.8 176.71 722.3C176.71 722.3 182.55 714.48 178.02 700.01C178.02 700.01 178.61 695.91 178.09 695.25L174.62 700.02C174.62 700.02 178.21 702.43 178.62 705.96C178.62 705.96 174.88 700.03 174.07 700.7C173.91 700.84 172.35 703.31 172.35 703.31C172.35 703.31 178.57 707.53 179.04 713.01C179.04 713.01 175.53 705.33 171.74 704.24L169.61 708.1C169.61 708.1 176.4 712.24 177.17 718.46C177.17 718.46 173.22 710.57 169.17 708.98L167.58 713.06C167.58 713.06 174.14 717.23 174.74 722.41C174.74 722.41 169.26 713.75 167.28 714.02C167.28 714.02 166.05 717.86 166.21 719.02C166.21 719.02 170.85 722.12 170.93 725.16C170.93 725.16 166.65 719.76 165.99 720.16C165.99 720.16 165.72 725.58 167.04 728.41C165.7 725.872 165.045 723.028 165.14 720.16C163.819 721.333 162.867 722.866 162.4 724.57C162.4 724.57 161.17 721.57 165.23 718.84C165.23 718.84 165.61 714.62 166.08 714.1C166.08 714.1 161.69 716.24 159.83 718.87C159.83 718.87 160.51 714.95 166.46 713L167.97 708.86C167.97 708.86 162.02 711.38 160.18 713.61C160.18 713.61 161.5 709.71 168.43 707.85L170.49 704.04C170.49 704.04 165.2 705.82 162.62 707.85C162.62 707.85 164.62 704.5 171.12 702.97L172.79 700.58C172.79 700.58 168.96 701.95 167.89 702.45C166.82 702.95 166.6 702.69 166.6 702.69C168.561 701.034 170.942 699.954 173.48 699.57C173.48 699.57 177.22 694.8 177 694.6Z" fill="url(#paint3_linear)"/>
</g>
<path id="Vector_58" d="M851.74 705.01C851.74 705.01 829.39 716.6 840.93 730.16C841.256 731.005 841.84 731.724 842.6 732.217C843.36 732.709 844.256 732.948 845.16 732.9C845.16 732.9 844.53 731.76 846.94 730.84C847.791 730.51 848.6 730.08 849.35 729.56C850.363 728.855 851.121 727.841 851.51 726.67C851.51 726.67 856.08 720.55 852.51 709.24C852.51 709.24 852.96 706.04 852.56 705.52L849.85 709.24C849.85 709.24 852.66 711.13 852.98 713.9C852.98 713.9 850.05 709.25 849.42 709.78C849.29 709.89 848.07 711.78 848.07 711.78C848.07 711.78 852.94 715.08 853.3 719.36C853.3 719.36 850.56 713.36 847.6 712.51L846 715.6C846 715.6 851.31 718.83 851.91 723.7C851.91 723.7 848.83 717.53 845.67 716.28L844.43 719.48C844.43 719.48 849.55 722.73 850.03 726.79C850.03 726.79 845.74 720.01 844.2 720.23C843.76 721.497 843.478 722.814 843.36 724.15C843.36 724.15 846.98 726.57 847.05 728.95C847.05 728.95 843.7 724.73 843.19 725.01C843.19 725.01 842.97 729.25 844 731.46C842.959 729.474 842.449 727.252 842.52 725.01C841.487 725.928 840.743 727.127 840.38 728.46C840.38 728.46 839.38 726.12 842.59 723.98C842.59 723.98 842.89 720.68 843.25 720.27C843.25 720.27 839.82 721.94 838.37 724C838.37 724 838.9 720.93 843.55 719.41L844.73 716.18C844.73 716.18 840.08 718.18 838.64 719.88C838.64 719.88 839.64 716.88 845.1 715.38L846.7 712.38C844.53 713.112 842.463 714.12 840.55 715.38C840.55 715.38 842.12 712.77 847.2 711.57L848.5 709.7C848.5 709.7 845.5 710.78 844.67 711.16C843.84 711.54 843.67 711.35 843.67 711.35C845.202 710.053 847.065 709.209 849.05 708.91C849.05 708.91 851.94 705.21 851.74 705.01Z" fill="#8672E7"/>
</g>
<g id="saboten">
<path id="Vector_59" opacity="0.1" d="M936.04 799.2C959.098 799.2 977.79 797.637 977.79 795.71C977.79 793.783 959.098 792.22 936.04 792.22C912.982 792.22 894.29 793.783 894.29 795.71C894.29 797.637 912.982 799.2 936.04 799.2Z" fill="#6C63FF"/>
<path id="Vector_60" opacity="0.1" d="M970.349 686.441C969.392 687.761 968.624 689.208 968.069 690.741C967.929 691.111 967.799 691.541 967.659 691.951C967.402 691.832 967.134 691.739 966.859 691.671C965.696 691.378 964.494 691.276 963.299 691.371C963.299 690.901 963.349 690.421 963.369 689.901C963.509 684.631 962.889 677.281 957.859 680.401C953.039 683.401 956.479 688.401 959.589 691.601C959.859 691.881 960.129 692.141 960.389 692.391C957.559 694.391 957.009 699.121 956.539 704.031C956.069 708.941 951.899 714.311 949.139 717.361L948.349 718.211C947.236 717.323 945.948 716.679 944.57 716.322C943.191 715.965 941.753 715.904 940.349 716.141C940.229 715.711 940.109 715.261 939.969 714.791C937.739 706.701 933.089 692.691 927.149 689.621C927.409 689.311 927.669 688.981 927.939 688.621C930.459 685.321 933.289 680.431 929.099 679.181C924.909 677.931 924.539 683.421 924.769 687.541C924.769 688.061 924.809 688.551 924.889 689.011C924.05 689.049 923.227 689.258 922.472 689.627C921.717 689.995 921.046 690.513 920.499 691.151L919.859 690.381C916.459 686.381 910.219 680.011 908.339 684.821C906.579 689.301 912.059 695.121 915.919 698.491L916.169 698.701C913.569 709.211 924.879 717.781 930.969 721.531L931.759 722.011C923.359 731.911 918.179 750.471 918.179 750.471L941.699 754.671C941.699 754.671 957.289 741.211 955.299 728.571H955.459C971.039 725.451 974.589 708.831 972.159 698.961L972.429 698.851C975.269 697.69 977.758 695.808 979.649 693.391C983.969 687.311 974.879 680.441 970.349 686.441Z" fill="#7B78A2"/>
<path id="Vector_61" d="M922.65 692.36L919.9 700.36C919.9 700.36 918.37 699.28 916.44 697.58C912.59 694.21 907.1 688.39 908.86 683.91C910.74 679.1 916.98 685.45 920.38 689.47C921.74 691.12 922.65 692.36 922.65 692.36Z" fill="#D09EA9" fill-opacity="0.6"/>
<path id="Vector_62" d="M928.46 687.76C927.621 688.858 926.727 689.913 925.78 690.92C925.539 689.517 925.376 688.101 925.29 686.68C925.06 682.56 925.49 677.09 929.62 678.32C933.75 679.55 931 684.46 928.46 687.76Z" fill="#D9A8B1" fill-opacity="0.8"/>
<path id="Vector_63" d="M963.93 689.03C963.84 691.68 963.58 693.8 963.58 693.8C962.37 692.853 961.225 691.828 960.15 690.73C957.04 687.5 953.6 682.52 958.42 679.53C963.45 676.41 964.07 683.76 963.93 689.03Z" fill="#CDB1D1"/>
<path id="Vector_64" d="M980.17 692.5C978.28 694.914 975.796 696.795 972.96 697.96C972.171 698.299 971.363 698.593 970.54 698.84L967.3 694.29C967.637 692.787 968.082 691.31 968.63 689.87C969.185 688.337 969.953 686.89 970.91 685.57C975.39 679.6 984.53 686.47 980.17 692.5Z" fill="#CDB1D1"/>
<path id="Vector_65" opacity="0.1" d="M920.38 689.52C921.74 691.12 922.65 692.36 922.65 692.36L919.9 700.36C919.9 700.36 918.37 699.28 916.44 697.58C916.873 695.003 917.938 692.574 919.54 690.51C919.803 690.166 920.084 689.836 920.38 689.52Z" fill="black"/>
<path id="Vector_66" opacity="0.1" d="M928.46 687.76C927.621 688.858 926.727 689.913 925.78 690.92C925.539 689.517 925.376 688.101 925.29 686.68C926.433 686.705 927.54 687.082 928.46 687.76Z" fill="black"/>
<g id="Vector_67">
<path d="M942 719.72L935.16 722.72C935.16 722.72 933.66 722 931.51 720.66C924.33 716.24 909.87 705.11 919.51 691.99C929.15 678.87 937.28 702.4 940.51 713.91C941.46 717.36 942 719.72 942 719.72Z" fill="#EDCFCF"/>
<path d="M942 719.72L935.16 722.72C935.16 722.72 933.66 722 931.51 720.66C924.33 716.24 909.87 705.11 919.51 691.99C929.15 678.87 937.28 702.4 940.51 713.91C941.46 717.36 942 719.72 942 719.72Z" fill="url(#paint4_linear)" fill-opacity="0.7"/>
</g>
<path id="Vector_68" opacity="0.1" d="M960.15 690.73C961.146 689.701 962.499 689.092 963.93 689.03C963.84 691.68 963.58 693.8 963.58 693.8C962.37 692.853 961.225 691.828 960.15 690.73Z" fill="black"/>
<path id="Vector_69" opacity="0.1" d="M973 697.96C972.211 698.299 971.403 698.593 970.58 698.84L967.34 694.29C967.677 692.787 968.122 691.31 968.67 689.87C970.72 691.09 972.26 694.13 973 697.96Z" fill="black"/>
<path id="Vector_70" d="M956 727.68C955.62 727.76 955.23 727.83 954.84 727.88C931.92 731.37 947.28 719 947.28 719C947.28 719 948.28 718.05 949.72 716.49C952.48 713.49 956.64 708.1 957.12 703.16C957.84 695.73 958.67 688.76 967.44 690.8C976.21 692.84 977.68 723.33 956 727.68Z" fill="#CDB1D1"/>
<path id="Vector_71" d="M955.55 784.77H911.74V796.29H955.55V784.77Z" fill="#DDC7CA"/>
<path id="Vector_72" d="M962.01 747.33H904.77V787.53H962.01V747.33Z" fill="#DDC7CA"/>
<path id="Vector_73" d="M958.43 784.77H914.62V796.29H958.43V784.77Z" fill="#EDCFCF"/>
<path id="Vector_74" opacity="0.1" d="M940.49 713.92C941.49 717.36 941.98 719.72 941.98 719.72L935.14 722.72C935.14 722.72 933.64 722 931.49 720.66C934.17 717.27 937.2 714.71 940.49 713.92Z" fill="black"/>
<path id="Vector_75" opacity="0.1" d="M956 727.68C955.62 727.76 955.23 727.83 954.84 727.88C931.92 731.37 947.28 719 947.28 719C947.28 719 948.28 718.05 949.72 716.49C954 719.92 955.75 723.78 956 727.68Z" fill="black"/>
<g id="Vector_76">
<path d="M918.7 749.6C918.7 749.6 931.54 703.6 949.54 717.79C967.54 731.98 942.22 753.79 942.22 753.79L918.7 749.6Z" fill="#DDC7CA"/>
<path d="M918.7 749.6C918.7 749.6 931.54 703.6 949.54 717.79C967.54 731.98 942.22 753.79 942.22 753.79L918.7 749.6Z" fill="url(#paint5_linear)" fill-opacity="0.9"/>
</g>
<path id="Vector_77" opacity="0.1" d="M925.18 700.65C925.975 700.65 926.62 700.005 926.62 699.21C926.62 698.415 925.975 697.77 925.18 697.77C924.385 697.77 923.74 698.415 923.74 699.21C923.74 700.005 924.385 700.65 925.18 700.65Z" fill="black"/>
<path id="Vector_78" opacity="0.1" d="M925.06 707.37C925.855 707.37 926.5 706.725 926.5 705.93C926.5 705.135 925.855 704.49 925.06 704.49C924.265 704.49 923.62 705.135 923.62 705.93C923.62 706.725 924.265 707.37 925.06 707.37Z" fill="black"/>
<path id="Vector_79" opacity="0.1" d="M966.82 701.97C967.615 701.97 968.26 701.325 968.26 700.53C968.26 699.735 967.615 699.09 966.82 699.09C966.025 699.09 965.38 699.735 965.38 700.53C965.38 701.325 966.025 701.97 966.82 701.97Z" fill="black"/>
<path id="Vector_80" opacity="0.1" d="M933.22 736.41C934.015 736.41 934.66 735.765 934.66 734.97C934.66 734.175 934.015 733.53 933.22 733.53C932.425 733.53 931.78 734.175 931.78 734.97C931.78 735.765 932.425 736.41 933.22 736.41Z" fill="black"/>
<path id="Vector_81" opacity="0.1" d="M963.82 713.13C964.615 713.13 965.26 712.485 965.26 711.69C965.26 710.895 964.615 710.25 963.82 710.25C963.025 710.25 962.38 710.895 962.38 711.69C962.38 712.485 963.025 713.13 963.82 713.13Z" fill="black"/>
<path id="Vector_82" opacity="0.1" d="M948.94 728.01C949.735 728.01 950.38 727.365 950.38 726.57C950.38 725.775 949.735 725.13 948.94 725.13C948.145 725.13 947.5 725.775 947.5 726.57C947.5 727.365 948.145 728.01 948.94 728.01Z" fill="black"/>
<path id="Vector_83" opacity="0.1" d="M930.1 703.53C930.895 703.53 931.54 702.885 931.54 702.09C931.54 701.295 930.895 700.65 930.1 700.65C929.305 700.65 928.66 701.295 928.66 702.09C928.66 702.885 929.305 703.53 930.1 703.53Z" fill="black"/>
<path id="Vector_84" opacity="0.1" d="M962.86 706.29C963.655 706.29 964.3 705.645 964.3 704.85C964.3 704.055 963.655 703.41 962.86 703.41C962.065 703.41 961.42 704.055 961.42 704.85C961.42 705.645 962.065 706.29 962.86 706.29Z" fill="black"/>
<path id="Vector_85" opacity="0.1" d="M957.94 717.45C958.735 717.45 959.38 716.805 959.38 716.01C959.38 715.215 958.735 714.57 957.94 714.57C957.145 714.57 956.5 715.215 956.5 716.01C956.5 716.805 957.145 717.45 957.94 717.45Z" fill="black"/>
<path id="Vector_86" opacity="0.1" d="M942.82 735.33C943.615 735.33 944.26 734.685 944.26 733.89C944.26 733.095 943.615 732.45 942.82 732.45C942.025 732.45 941.38 733.095 941.38 733.89C941.38 734.685 942.025 735.33 942.82 735.33Z" fill="black"/>
<path id="Vector_87" opacity="0.1" d="M939.7 728.25C940.495 728.25 941.14 727.605 941.14 726.81C941.14 726.015 940.495 725.37 939.7 725.37C938.905 725.37 938.26 726.015 938.26 726.81C938.26 727.605 938.905 728.25 939.7 728.25Z" fill="black" fill-opacity="0.76"/>
<path id="Vector_88" opacity="0.1" d="M932.26 712.29C933.055 712.29 933.7 711.645 933.7 710.85C933.7 710.055 933.055 709.41 932.26 709.41C931.465 709.41 930.82 710.055 930.82 710.85C930.82 711.645 931.465 712.29 932.26 712.29Z" fill="black"/>
<path id="Vector_89" opacity="0.1" d="M958.43 784.77H914.62V788.98H958.43V784.77Z" fill="black"/>
<path id="Vector_90" d="M964.9 747.33H907.66V787.53H964.9V747.33Z" fill="#EDCFCF"/>
<path id="Vector_91" opacity="0.1" d="M944.74 741.81C945.535 741.81 946.18 741.165 946.18 740.37C946.18 739.575 945.535 738.93 944.74 738.93C943.945 738.93 943.3 739.575 943.3 740.37C943.3 741.165 943.945 741.81 944.74 741.81Z" fill="black"/>
<path id="Vector_92" opacity="0.1" d="M936.1 743.61C936.895 743.61 937.54 742.965 937.54 742.17C937.54 741.375 936.895 740.73 936.1 740.73C935.305 740.73 934.66 741.375 934.66 742.17C934.66 742.965 935.305 743.61 936.1 743.61Z" fill="black"/>
</g>
<g id="lady">
<path id="Vector_93" opacity="0.1" d="M746.87 789.78C772.75 789.78 793.73 785.961 793.73 781.25C793.73 776.539 772.75 772.72 746.87 772.72C720.99 772.72 700.01 776.539 700.01 781.25C700.01 785.961 720.99 789.78 746.87 789.78Z" fill="#6C63FF"/>
<path id="Vector_94" d="M838.24 600.06C830.34 604.28 823.32 574.8 823.32 574.8L823.02 570.67L822.45 562.86L832.1 564.09C831.954 565.777 831.954 567.473 832.1 569.16C832.27 571.16 832.76 573.25 833.91 574.09C836.48 576.03 846.13 595.85 838.24 600.06Z" fill="#DDC7CA"/>
<path id="Vector_95" d="M739.31 604V624.14C739.31 625.013 739.31 625.883 739.31 626.75C739.104 634.274 738.436 641.778 737.31 649.22C737.042 651.038 736.998 652.882 737.18 654.71C737.88 661.56 736.18 687.71 736.18 687.71L733.18 721.58C733.18 721.58 734.93 740 734.18 742.58C733.981 743.638 733.918 744.716 733.99 745.79C734.09 748.79 734.61 752.64 734.78 753.79V754.14L734.67 754.22L720 765.41C722.34 763.28 722.94 758.32 722.93 753.72C722.93 753.22 722.93 752.72 722.93 752.22C722.93 747.92 723.097 743.62 723.43 739.32C723.91 732.25 721.09 721.42 719.03 714.68C716.4 706.09 713.76 655.9 715.17 653.27C716.58 650.64 714.99 643.79 713.24 639.93C712.21 637.58 711.21 629.36 710.61 623.36C710.23 619.72 710 616.96 710 616.96L739.31 604Z" fill="#DDC7CA"/>
<path id="Vector_96" d="M790.15 605.74V625.88C790.15 627.12 790.15 628.37 790.15 629.61C789.922 636.758 789.278 643.887 788.22 650.96C787.952 652.778 787.908 654.622 788.09 656.45C788.79 663.3 787.09 689.45 787.09 689.45L784.09 723.32C784.09 723.32 785.85 741.74 785.15 744.32C784.947 745.374 784.883 746.45 784.96 747.52C785.06 750.52 785.59 754.43 785.75 755.52C785.75 755.74 785.8 755.85 785.8 755.85L785.69 755.93L771 767.12C773.27 764.94 773.86 760.04 773.85 755.5C773.85 755 773.85 754.5 773.85 753.99C773.85 749.69 774.05 745.39 774.34 741.09C774.81 734.02 772 723.2 769.94 716.46C767.3 707.87 764.67 657.68 766.08 655.05C767.49 652.42 765.9 645.57 764.15 641.71C763.52 640.35 762.92 637.04 762.4 633.36C761.47 626.68 760.81 618.73 760.81 618.73L790.15 605.74Z" fill="#DDC7CA"/>
<path id="Vector_97" d="M766.18 402.1C766.181 406.808 764.46 411.354 761.342 414.882C758.224 418.409 753.923 420.674 749.25 421.25C748.461 421.351 747.666 421.401 746.87 421.4H746.73C742.919 421.37 739.203 420.213 736.049 418.075C732.895 415.936 731.438 412.529 730 409C728.562 405.471 727.208 401.978 727.969 398.244C728.731 394.51 730.581 391.085 733.286 388.401C735.991 385.717 739.43 383.893 743.17 383.161C746.909 382.428 750.782 382.819 754.3 384.284C757.818 385.749 760.823 388.223 762.937 391.393C765.052 394.564 766.18 398.289 766.18 402.1Z" fill="#DDC7CA"/>
<path id="Vector_98" d="M781.5 733C806 733 804.86 729.11 811 727C809.58 724.37 798.72 591.13 796 576.5C794.048 566 787.6 546.2 787.6 546.2C787.6 546.2 777.61 529.03 775.4 518.55C775.079 517.188 774.941 515.789 774.99 514.39C775.01 514.054 775.054 513.72 775.12 513.39C775.22 512.892 775.406 512.414 775.67 511.98C776.84 510.17 779.65 505.72 783.1 500.24L790.82 487.95C794.96 481.383 799.001 474.897 801.76 470.468L802.17 469.81L805.33 464.81C805.33 464.81 801.64 452.35 799.01 447.96C797.487 445.872 795.633 444.048 793.52 442.56C791.001 440.65 788.38 438.878 785.67 437.25L776.77 433.56C776.77 433.56 774.44 436.2 772.16 435.15C772.16 435.15 774.97 466.21 770.41 469.72C770.41 469.72 767.6 477.09 769 434.8C769 434.8 753.55 431.56 748.31 431.35C747.794 431.303 747.273 431.343 746.77 431.47C745.482 431.857 744.173 432.171 742.85 432.41C737.3 433.58 727.98 435.47 726.54 437.96C724.59 441.33 716.71 457.79 717.59 465.33C717.67 466.01 717.73 466.95 717.79 468.11C718.16 475.62 717.97 492.23 717.79 503.43C717.74 506.14 717.65 508.55 717.65 510.43L717.57 514.6L715.57 521.6L708.91 544.26C708.04 545.13 698.5 579 698.5 585C698.5 591 687 725 687 725C689.11 726.93 699.59 733.5 709.5 736C719.41 738.5 727.5 733 745 736C763.5 738.5 781.5 733 781.5 733Z" fill="url(#paint6_linear)"/>
<path id="Vector_99" opacity="0.1" d="M832.08 569.16C829.37 570.99 824.6 570.92 823.02 570.67L822.45 562.86L832.1 564.09C831.948 565.776 831.941 567.473 832.08 569.16Z" fill="black"/>
<path id="Vector_100" d="M798.23 459.69L805.43 464.78C805.43 464.78 808.76 478.11 811.74 482.85C814.72 487.59 814.37 493.73 814.37 493.73C815.375 494.844 816.313 496.016 817.18 497.24C819.29 500.05 822.09 514.14 821.04 515.96C819.99 517.78 827.1 532.86 827.1 532.86C827.1 532.86 828.1 533.86 830.17 539.35C832.24 544.84 830.17 551.11 830.17 551.11C830.17 551.11 835.61 563.22 833.33 566.55C831.05 569.88 823.67 569.55 822.62 569.18C821.57 568.81 825.43 566.9 818.62 566.37C811.81 565.84 802.82 553.74 802.82 553.74C799.26 547.309 796.659 540.393 795.1 533.21C793.544 525.809 791.435 518.535 788.79 511.45C787.91 508.82 784.05 491.8 784.05 491.8L798.23 459.69Z" fill="#C0D0EA"/>
<path id="Vector_101" opacity="0.1" d="M744.36 459.69C744.36 459.69 743.83 500.4 738.92 508.47L744.36 459.69Z" fill="black"/>
<path id="Vector_102" opacity="0.1" d="M772.79 474.08C772.79 474.08 768.23 514.79 764.63 516.89C761.03 518.99 772.79 474.08 772.79 474.08Z" fill="black"/>
<path id="Vector_103" opacity="0.1" d="M766.18 468.29C766.18 468.29 765.07 506.68 759.28 510.47C753.49 514.26 766.18 468.29 766.18 468.29Z" fill="black"/>
<path id="Vector_104" opacity="0.1" d="M715.76 540.93C715.76 540.93 708.5 562.16 709.32 570.93C710.14 579.7 715.76 540.93 715.76 540.93Z" fill="black"/>
<path id="Vector_105" opacity="0.1" d="M775.5 519.95C766 522.08 740.3 525.9 717.7 511.84C717.7 509.96 717.79 507.55 717.84 504.84C726.42 509.56 750.52 521.84 762.79 518.4C768.91 516.65 772.79 515.54 775.22 514.82C774.977 516.532 775.072 518.275 775.5 519.95Z" fill="black"/>
<path id="Vector_106" d="M775.5 518.6C766 520.72 740.3 524.54 717.7 510.49C717.7 508.61 717.79 506.2 717.84 503.49C726.42 508.21 750.52 520.49 762.79 517.05C768.91 515.31 772.79 514.19 775.22 513.48C774.979 515.189 775.074 516.928 775.5 518.6Z" fill="#7B78A2"/>
<path id="Vector_107" opacity="0.1" d="M734.61 760.07C734.61 760.3 734.56 760.45 734.55 760.5L719.88 771.69C722.22 769.56 722.82 764.6 722.81 760C722.81 759.5 722.81 759 722.81 758.5C724.101 755.321 725.935 752.391 728.23 749.84C730.73 749.19 732.3 749.84 733.23 750.97C733.23 751.08 733.23 751.19 733.23 751.29C733.429 751.532 733.604 751.793 733.75 752.07C735.22 754.6 734.8 758.73 734.61 760.07Z" fill="black"/>
<path id="Vector_108" d="M734.54 761.22C732.986 764.783 732.202 768.633 732.24 772.52C732.306 775.715 731.493 778.866 729.89 781.63C729.666 782.022 729.408 782.393 729.12 782.74C729.12 782.74 721.43 782.68 718.74 780.45C718.435 780.223 718.182 779.933 718 779.6C716.46 776.53 721 764.77 721 764.77C723.38 755.7 728.22 750.86 728.22 750.86C736.85 748.6 734.54 761.22 734.54 761.22Z" fill="#656181"/>
<path id="Vector_109" opacity="0.1" d="M729.89 781.6C729.666 781.991 729.408 782.363 729.12 782.71C729.12 782.71 721.43 782.65 718.74 780.42C720.06 776.04 724.29 762.79 726.26 765.04C728.23 767.29 729.42 777.37 729.89 781.6Z" fill="black"/>
<path id="Vector_110" d="M728.83 765.89L728.3 785.75H730.88C730.88 785.75 731.29 768.33 732.45 765.89C733.61 763.45 728.83 765.89 728.83 765.89Z" fill="#656181"/>
<path id="Vector_111" opacity="0.1" d="M785.66 755.6L785.6 756.01L771 767.12C773.27 764.94 773.86 760.04 773.85 755.5C773.85 755 773.85 754.5 773.85 753.99C775.139 750.815 776.969 747.888 779.26 745.34C781.76 744.69 783.34 745.34 784.31 746.46C784.31 746.58 784.31 746.68 784.31 746.79C784.512 747.026 784.686 747.285 784.83 747.56C786.28 750.13 785.85 754.27 785.66 755.6Z" fill="black"/>
<path id="Vector_112" d="M785.6 756.72C784.038 760.28 783.251 764.132 783.29 768.02C783.356 771.215 782.543 774.366 780.94 777.13C780.713 777.519 780.455 777.891 780.17 778.24C780.17 778.24 772.48 778.18 769.79 775.95C769.494 775.716 769.249 775.423 769.07 775.09C767.54 772.02 772.07 760.26 772.07 760.26C774.45 751.19 779.29 746.35 779.29 746.35C787.9 744.12 785.6 756.72 785.6 756.72Z" fill="#656181"/>
<path id="Vector_113" opacity="0.1" d="M780.94 777.13C780.713 777.519 780.455 777.891 780.17 778.24C780.17 778.24 772.48 778.18 769.79 775.95C771.11 771.57 775.34 758.31 777.31 760.56C779.28 762.81 780.47 772.87 780.94 777.13Z" fill="black"/>
<path id="Vector_114" d="M779.89 761.39L779.35 781.24H781.93C781.93 781.24 782.34 763.83 783.5 761.39C784.66 758.95 779.89 761.39 779.89 761.39Z" fill="#656181"/>
<path id="Vector_115" d="M685 526.49C685 526.49 682.16 526.19 678.34 525.6C668.34 524.08 651.43 520.6 661.05 515.6C669.88 510.98 682.05 514.9 689.17 518.04C691.195 518.934 693.171 519.935 695.09 521.04L685 526.49Z" fill="#E3D1D4"/>
<path id="Vector_116" opacity="0.1" d="M687.79 523.44C687.79 523.44 687.28 525.44 686.42 528.14C685.33 527.7 684.42 527.35 683.75 527.14C680.75 526.14 684.28 524.86 683.4 522.23C682.65 519.97 681.26 520.68 679.66 520.05C680.707 518.626 681.839 517.267 683.05 515.98L687.79 523.44Z" fill="black"/>
<path id="Vector_117" d="M721.37 461.27L717.82 466.9C717.82 466.9 713 475.83 712.25 478.6C711.5 481.37 710 491.97 707 494.43C704 496.89 697.87 504.78 698.75 506.36C699.63 507.94 690.5 509.87 690.5 509.87C690.5 509.87 684.36 512.33 684.71 514.26C685.06 516.19 679.62 517.77 681.55 519.17C683.48 520.57 685.24 519.17 686.12 521.8C687 524.43 683.48 525.67 686.47 526.72C689.46 527.77 699.28 531.88 699.28 531.88C699.28 531.88 707.17 533.21 709.45 528.47C711.73 523.73 724.72 511.98 724.72 511.98C724.72 511.98 728.4 498.64 730.72 493.55C733.04 488.46 737.57 465.48 737.57 465.48C737.57 465.48 733.88 437.05 730.57 441.48C727.26 445.91 721.37 461.27 721.37 461.27Z" fill="#BFD0E9"/>
<g id="Vector_118">
<path d="M747.41 413.148C743.911 410.078 744.914 408.241 741.699 406.404C738 404.5 739 405 737.199 401.404C736 398.5 737.539 398.004 734.699 397.404C729.459 396.314 721.309 406.815 723.309 393.754C725.309 380.692 731.48 382.298 737.199 378C742.919 373.702 742.699 373.404 749.5 372C756.301 370.596 770 381.5 773 386.5C776 391.5 773.52 397.909 774.5 399.5C775.48 401.091 788.72 412.237 789.72 420.737C790.72 429.237 786.474 430.895 796.474 456.895C798.274 461.565 800.12 463.99 800 469C799.88 474.01 792.51 477.944 787.72 479.434C787.1 482.754 779.219 481.434 779.219 481.434C779.219 481.434 778.15 483.635 774.719 484.635C771.289 485.635 768.089 485.38 765.719 484.635C764.029 484.685 753.979 480.294 752.719 481.434C746.529 487.014 733.219 481.237 732.719 477.737C732.219 474.237 751.464 460.287 743.024 442.237C742.257 440.829 741.594 433.796 741.219 432.237C740.589 428.717 740.954 426.075 743.024 423.165C744.833 420.621 746.934 418.16 748.041 415.27C748.331 414.512 748.02 413.683 747.41 413.148Z" fill="#6F5E74"/>
<path d="M747.41 413.148C743.911 410.078 744.914 408.241 741.699 406.404C738 404.5 739 405 737.199 401.404C736 398.5 737.539 398.004 734.699 397.404C729.459 396.314 721.309 406.815 723.309 393.754C725.309 380.692 731.48 382.298 737.199 378C742.919 373.702 742.699 373.404 749.5 372C756.301 370.596 770 381.5 773 386.5C776 391.5 773.52 397.909 774.5 399.5C775.48 401.091 788.72 412.237 789.72 420.737C790.72 429.237 786.474 430.895 796.474 456.895C798.274 461.565 800.12 463.99 800 469C799.88 474.01 792.51 477.944 787.72 479.434C787.1 482.754 779.219 481.434 779.219 481.434C779.219 481.434 778.15 483.635 774.719 484.635C771.289 485.635 768.089 485.38 765.719 484.635C764.029 484.685 753.979 480.294 752.719 481.434C746.529 487.014 733.219 481.237 732.719 477.737C732.219 474.237 751.464 460.287 743.024 442.237C742.257 440.829 741.594 433.796 741.219 432.237C740.589 428.717 740.954 426.075 743.024 423.165C744.833 420.621 746.934 418.16 748.041 415.27C748.331 414.512 748.02 413.683 747.41 413.148Z" fill="url(#paint7_linear)"/>
</g>
<path id="Vector_119" opacity="0.1" d="M711.37 506.54C711.37 506.54 694 508.82 703.3 512.68C712.6 516.54 715.76 512.68 715.76 512.68L711.37 506.54Z" fill="black"/>
<path id="Vector_120" opacity="0.1" d="M689.79 516.89C689.79 516.89 699.97 514.79 702.6 516.89C705.23 518.99 689.79 516.89 689.79 516.89Z" fill="black"/>
<path id="Vector_121" opacity="0.1" d="M688.74 522.16C688.74 522.16 689.44 520.4 692.95 522.16C696.46 523.92 688.74 522.16 688.74 522.16Z" fill="black"/>
<path id="Vector_122" opacity="0.1" d="M803.58 538.92C803.58 538.92 804.64 554.92 808.95 555.44C813.26 555.96 803.58 538.92 803.58 538.92Z" fill="black"/>
<path id="Vector_123" opacity="0.1" d="M812.8 502.7C812.8 502.7 813.53 507.59 808.95 508.47C804.37 509.35 812.8 502.7 812.8 502.7Z" fill="black"/>
<path id="Vector_124" opacity="0.1" d="M760.85 550.29C760.85 550.29 760.62 599.66 770.68 605.74L760.85 550.29Z" fill="black"/>
<path id="Vector_125" opacity="0.1" d="M774.18 552.4C774.18 552.4 774 601.76 784 607.85L774.18 552.4Z" fill="black"/>
<g id="Group" opacity="0.1">
<path id="Vector_126" opacity="0.1" d="M793.31 486.14C792.567 486.478 791.89 486.945 791.31 487.52C792.89 487.13 794.56 487.08 796.11 486.59C797.312 486.218 798.422 485.598 799.37 484.77C797.38 485.33 795.2 485.27 793.31 486.14Z" fill="black"/>
<path id="Vector_127" opacity="0.1" d="M775.89 513.89C773.427 514.991 770.887 515.91 768.29 516.64C770.275 513.584 771.571 510.132 772.089 506.525C772.607 502.918 772.335 499.241 771.29 495.75C770.66 493.75 769.29 491.4 767.12 491.46C765.816 491.661 764.633 492.338 763.8 493.36C765.8 493.43 767.17 495.65 767.8 497.64C768.845 501.131 769.117 504.808 768.599 508.415C768.081 512.022 766.785 515.474 764.8 518.53C768.692 517.499 772.423 515.938 775.89 513.89Z" fill="black"/>
</g>
<circle id="Ellipse 1" cx="774" cy="399" r="1" fill="white"/>
<circle id="Ellipse 2" cx="773" cy="401" r="1" fill="white"/>
<circle id="Ellipse 3" cx="771" cy="401" r="1" fill="white"/>
</g>
</g>
<defs>
<linearGradient id="paint0_linear" x1="251" y1="524.5" x2="197" y2="529" gradientUnits="userSpaceOnUse">
<stop stop-color="#7B78A2"/>
<stop offset="1" stop-color="#A285D7"/>
</linearGradient>
<linearGradient id="paint1_linear" x1="552.71" y1="172.82" x2="552.71" y2="188.82" gradientUnits="userSpaceOnUse">
<stop stop-color="white"/>
<stop offset="1" stop-color="white" stop-opacity="0"/>
</linearGradient>
<linearGradient id="paint2_linear" x1="258.466" y1="727.6" x2="258.466" y2="774.205" gradientUnits="userSpaceOnUse">
<stop stop-color="#A285D7"/>
<stop offset="1" stop-color="#B7C9E6" stop-opacity="0.58"/>
</linearGradient>
<linearGradient id="paint3_linear" x1="169.345" y1="694.6" x2="169.345" y2="730.277" gradientUnits="userSpaceOnUse">
<stop stop-color="#C0D0EA"/>
<stop offset="1" stop-color="#9A7DD5" stop-opacity="0.9"/>
</linearGradient>
<linearGradient id="paint4_linear" x1="942" y1="711" x2="913.5" y2="696" gradientUnits="userSpaceOnUse">
<stop offset="0.414668" stop-color="#B38EC8"/>
<stop offset="1" stop-color="#D29FA6"/>
</linearGradient>
<linearGradient id="paint5_linear" x1="961.5" y1="694.5" x2="931.5" y2="749.5" gradientUnits="userSpaceOnUse">
<stop offset="0.396503" stop-color="#A487D8" stop-opacity="0.8"/>
<stop offset="1" stop-color="#D7A1A1"/>
</linearGradient>
<linearGradient id="paint6_linear" x1="747" y1="543.5" x2="747.25" y2="738.5" gradientUnits="userSpaceOnUse">
<stop stop-color="#DCE6F4"/>
<stop offset="1" stop-color="#B7C9E6"/>
</linearGradient>
<linearGradient id="paint7_linear" x1="756" y1="389.5" x2="761.503" y2="485.293" gradientUnits="userSpaceOnUse">
<stop stop-color="#6F5E74"/>
<stop offset="1" stop-color="#5F5870" stop-opacity="0.77"/>
</linearGradient>
<clipPath id="clip0">
<rect width="1130" height="799.21" fill="white"/>
</clipPath>
</defs>
</svg>
</div>
  </div>

  <section id="about_me">
    <div class="text">
      <h3>Title2</h3>


      <p>Subtitle for section 2</p>
    </div>
  </section>
  <section id="works">
    <div class="text">
      <h3>Title3</h3>
      <p>Subtitle for section 3</p>
    </div>
  </section >
  <section id="contact">
    <div class="text">
      <h3>Title4</h3>
      <p>Subtitle for section 4</p>
    </div>
  </section>
 </div>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha512-0xrMWUXzEAc+VY7k48pWd5YT6ig03p4KARKxs4Bqxb9atrcn2fV41fWs+YXTKb8lD2sbPAmZMjKENiyzM/Gagw==" crossorigin="anonymous"></script>
