<div class="preload">
<%= image_tag "teapot.png", :class => "teapot" %>
</div>

<div class="content">
  <section>
    <div class="text">
      <h3>Title1</h3>
      <div class = 'button'>Subtitle for section 1</div>
    </div>
  </section>
  <section class ="second">
    <div class="text">
      <h3>Title2</h3>
      <p>Subtitle for section 2</p>
    </div>
  </section>
  <section>
    <div class="text">
      <h3>Title3</h3>
      <p>Subtitle for section 3</p>
    </div>
  </section>
  <section>
    <div class="text">
      <h3>Title4</h3>
      <p>Subtitle for section 4</p>
    </div>
  </section>
 </div>
